<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <%- include('./partials/nav'); %>

          <div class="col col-sm-10 content">
            <div class="heading bg-success">
              <h1 class="title text-light"><%=title%></h1>
            </div>
            <div class="card mt-4">
              <table class="table m-0">
                <%if(author_list.length <= 0) {%>
                <tbody>
                  <tr>
                    <td>There are no authors.</td>
                  </tr>
                </tbody>
                <%}%>

                <thead>
                  <tr>
                    <th scope="col">Author</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Date of Death</th>
                  </tr>
                </thead>
                <%author_list.forEach((author)=> {%>
                <tbody>
                  <tr>
                    <td>
                      <a href="<%=author.url%>"><%=author.name%> </a>
                    </td>
                    <td><%=author.date_of_birth_formatted%></td>
                    <td><%=author.date_of_death_formatted%></td>
                  </tr>
                </tbody>
                <%}) %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/scripts'); %>
  </body>
</html>
