<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <%- include('./partials/nav'); %>
          <div class="col col-sm-10 content">
            <div class="heading bg-success">
              <h1 class="title"><%=title%></h1>
            </div>
            <div class="card mt-4">
              <table class="table m-0">
                <%if(bookinstance_list.length <= 0) {%>
                <tbody>
                  <tr>
                    <td>There are no book copies in this library.</td>
                  </tr>
                </tbody>

                <%}%>
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Imprint</th>
                    <th scope="col">Status</th>
                    <th scope="col">Due Back</th>
                  </tr>
                </thead>
                <%bookinstance_list.forEach((bookinstance)=> {%>
                <tbody>
                  <tr>
                    <td>
                      <a href="<%=bookinstance.url%>"
                        ><%=bookinstance.book.title%>
                      </a>
                    </td>
                    <td><%=bookinstance.imprint%></td>
                    <%if(bookinstance.status == "Available") {%>
                    <td class="text-success"><%=bookinstance.status%></td>
                    <%} else if (bookinstance.status == "Maintenance") {%>
                    <td class="text-danger"><%=bookinstance.status%></td>
                    <%} else {%>
                    <td class="text-warning"><%=bookinstance.status%></td>
                    <%} %> <%if(bookinstance.status !== "Available") {%>
                    <td class="text-warning">
                      (<%=bookinstance.due_back_formatted%>)
                    </td>
                    <% } %>
                  </tr>
                </tbody>
                <%}) %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./partials/scripts'); %>
  </body>
</html>
