<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head'); %>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <%- include('./partials/nav'); %>

          <div class="col col-sm-10 content">
            <div class="heading bg-info py-2">
              <h2 class="title text-light my-0"><%=title%></h2>
            </div>

            <form class="mt-4" action="" method="POST">
              <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  id="title"
                  placeholder="Name of book"
                  value="<%=undefined===book ? '' : book.title%>"
                  required="true"
                />

                <label for="author" class="form-label mt-1">Author:</label>
                <select
                  class="form-select form-control"
                  type="select"
                  name="author"
                  id="author"
                  aria-label="Default select example"
                >
                  <%authors.sort(function(a,b){ let textA =
                  a.family_name.toUpperCase(); let textB =
                  b.family_name.toUpperCase(); return (textA < textB) ? -1 :
                  (textA > textB) ? 1 : 0;}) %> <%authors.forEach((author)=>{
                  if(book !== undefined) {%>
                  <option
                    class="author-desc"
                    value="<%=author._id%>"
                    select="<%=author._id.toString()===book.author._id.toString() ? 'selected' : false%>"
                  >
                    <%=author.name%>
                  </option>
                  <%} else {%>
                  <option value="<%=author._id%>" class="author-desc">
                    <%=author.name%>
                  </option>
                  <%}})%>
                </select>

                <label for="summary" class="form-label mt-1">Summary:</label>
                <textarea
                  class="form-control"
                  placeholder="Summary..."
                  name="summary"
                  id="summary"
                  style="height: 100px"
                  required="true"
                >
                   <%=book === undefined ? '' : book.summary%>
                </textarea>

                <label for="isbn" class="form-label mt-1">ISBN:</label>
                <input
                  type="text"
                  class="form-control"
                  name="isbn"
                  id="isbn"
                  value="<%=book.isbn%>"
                  placeholder="xxx-xxx-xxx"
                  required="true"
                  autocomplete="off"
                />

                <div class="d-flex justify-content-between mt-3">
                  <div class="btn-group">
                    <button
                      class="btn btn-sm dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Choose genre
                    </button>
                    <ul class="dropdown-menu p-2" id="dropDown">
                      <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                        onkeyup="searchData(this)"
                      />

                      <%genres.forEach((genre)=> { %>
                      <li class="defaultGenres">
                        <div class="form-check mt-1">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="genre"
                            id="<%= genre._id %>"
                            value="<%=genre._id %>"
                            data-checked="<%=genre.checked %>"
                          />
                          <label
                            class="form-check-label genre-desc"
                            for="<%= genre._id %>"
                            id="<%=genre.name %>"
                          >
                            <%=genre.name %>
                          </label>
                        </div>
                      </li>

                      <%})%>
                    </ul>

                    <%if(errors) {%> <%error.forEach((error) => {%>
                    <p class="text-danger" id="error"><%=error %></p>
                    <%})%> <%}%>
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script></script>
    <!-- <script>
      function searchData(e) {
        const dropdown = document.getElementById("dropDown");
        const defaultGenres = document.querySelectorAll("ul .defaultGenres");

        fetch("/catalog/book/create", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ payload: e.value }),
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            let payload = data.payload;
            if (payload.length <= 0) {
              defaultGenres.forEach((genre, index) => {
                genre.remove();
              });

              dropdown.innerHTML += `
              <li> 
                <label
                  class="form-check-label genre-desc"
                >
                  Nothing Found          
                </label> 
              </li>`;
              return;
            } else if (payload.length > 0) {
              defaultGenres.forEach((genre, index) => {
                genre.remove();
              });

              payload.forEach((item, index) => {
                if (index > 0) {
                  console.log(item._id, index);
                  dropDown.innerHTML += `
                <li>
                        <div class="form-check mt-1">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="genre"
                            id="${item._id}"
                            value="${item._id}"
                            onclick='alert(this.value)'
                          />
                          <label
                            class="form-check-label genre-desc"
                            for="${item._id}>"
                            id="${item.name}"
                          >
                           ${item.name}
                          </label>
                        </div>
                      </li>`;
                  return;
                }
              });
            }
          });
      }
    </script> -->
    <%- include('./partials/scripts');%>
  </body>
</html>
