<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <%- include('./partials/nav'); %>
          <div class="col col-sm-10 content">
            <div class="heading bg-success">
              <h1 class="title"><%=title%></h1>
            </div>
            <div class="card mt-4">
              <ul class="list-group list-group-flush">
                <%if(book_list.length <= 0) {%>
                <li class="list-group-item"></li>

                <%}%> <%book_list.forEach((book)=> {%>
                <li class="list-group-item">
                  <a href="<%=book.url%>"><%=book.title%></a>
                  <span>(<%=book.author.name%>)</span>
                </li>
                <%}) %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/scripts'); %>
  </body>
</html>
