<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <%- include('./partials/nav'); %>

          <div class="col col-sm-10 content">
            <div class="heading bg-secondary py-2">
              <h2 class="title text-light my-0 ">Genre: <span class="title-desc"><%=genre.name%></span></h2>
            </div>

            <section class="mx-5 mt-4">
              <h4 class="mx-2">Books</h4>
              <div class="horizontal-line"></div>
              <%if(genre_books.length <= 0) {%>
              <p>This genre has no books</p>

              <%} else {%> <%genre_books.forEach((genre_book) =>{ %>
              <div>
                <a href="<%=genre_book.url%>"><%=genre_book.title%></a>
                <p><%=genre_book.summary%></p>
              </div>
              <%})%><%}%>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./partials/scripts'); %>
  </body>
</html>
