<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head');%>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <%- include('./partials/nav'); %>

          <div class="col col-sm-10 content">
            <div
              class="heading bg-success d-flex align-items-center py-2 d-flex justify-content-between"
            >
              <div class="d-flex">
                <img
                  src="/images/genre.png"
                  alt="library folder image"
                  height="40"
                  width="40"
                />
                <h2 class="title text-light mx-2 my-0"><%=title %></h2>
              </div>

              <span class="text-light">Total: <%=genre_list.length%></span>
            </div>

            <div class="card mt-4">
              <table class="table m-0">
                <%if(genre_list.length <= 0) {%>
                <tbody>
                  <tr>
                    <td>There are no genres.</td>
                  </tr>
                </tbody>
                <%}%>

                <thead>
                  <tr>
                    <th scope="col">Records</th>
                    <th></th>
                  </tr>
                </thead>
                <%genre_list.forEach((genre) => { %>
                <tbody>
                  <tr>
                    <td>
                      <a href="<%=genre.url%>" class="genre-desc"
                        ><%=genre.name%></a
                      >
                    </td>
                  </tr>
                </tbody>
                <%}) %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./partials/scripts'); %>
  </body>
</html>
