<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <%- include('./partials/nav'); %>

          <div class="col col-sm-10 content">
            <div class="heading bg-success">
              <h2 class="title text-light"><%=title%></h2>
            </div>

            <div class="card mt-4">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th scope="col">Records</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <%if (error) {%>
                <tbody>
                  <tr>
                    <td>Error getting record content.</td>
                  </tr>
                </tbody>
                <%} else {%>
                <tbody>
                  <tr>
                    <td><strong>Books:</strong></td>
                    <td><%=data.book_count%></td>
                  </tr>
                  <tr>
                    <td><strong>Copies:</strong></td>
                    <td><%=data.book_instance_count%></td>
                  </tr>
                  <tr>
                    <td><strong>Copies available::</strong></td>
                    <td><%=data.book_instance_available_count%></td>
                  </tr>
                  <tr>
                    <td><strong>Authors:</strong></td>
                    <td><%=data.author_count%></td>
                  </tr>
                  <tr>
                    <td><strong>Genres:</strong></td>
                    <td><%=data.genre_count%></td>
                  </tr>
                </tbody>
              </table>
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/scripts'); %>
  </body>
</html>
